@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.skills {
  color: #4ade80; /* Change color as needed */
  font-weight: bold;
}

.personal-information {
  color: #4285F4; /* Blue */
}
.section-skills {
  color: #EA4335; /* Red */
}
.section-work-experience {
  color: #FBBC05; /* Yellow */
}
.education {
  color: #34A853; /* Green */
}
.certifications {
  color: #673AB7; /* Purple */
}